@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* share styles */
* {
  margin: 0;
  padding: 0;
}
.dark1 {
  color: #131313;
}
.dark2 {
  color: #424242;
}
.dark3 {
  color: #727272;
}
.primary-color {
  color: #ff900e;
}
.btn-primary {
  background-color: #ff900e;
  padding: 20px 25px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  color: white;
  border: none;
  width: 10rem;
}
.display-flex {
  display: flex;
}
.bold {
  font-weight: bold;
}
.semi-bold{
    font-size: 2.8rem;
    font-weight: 700;
    color: #424242;
}
/* header style */

/* Navbar style */
header {
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar {
  justify-content: space-between;
  max-width: 1440px;
  padding: 10px 10vw;
}
.logo {
  font-size: 1.4em;
  font-weight: bold;
}
.nav-links {
  list-style-type: none;
  gap: 50px;
  align-items: center;
}
nav ul a {
  text-decoration: none;
  color: #424242;
  font-size: 0.8rem;
  font-weight: 500;
}
.banner {
  padding-top: 90px;
  padding-bottom: 50px;
}
.banner-title {
  text-align: center;
  margin: 0 auto 50px;
  max-width: 862px;
}
.banner-title h1 {
  font-size: 3.2rem;
  font-weight: bold;
}
.banner-title p {
  font-size: 0.9rem;
  margin: 32px 0;
}
.banner-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.banner-immg {
  width: 80%;
}
/* teams section */
.teams {
  gap: 50px;
  margin: 50px 10vw;
}
.teams-pic {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.teams-content {
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  text-align: left;
}
.p0 {
  font-size: 2.5rem;
  font-weight: bold;
}
.pp {
  font-size: 0.8rem;
}
/* Exprience section */
.exprience{
    margin: 15vh 7vw;
}
.sub-cont{
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
}

/* Some Facts */

.some-facts{
    width: 100%;
    margin-left: 6vw;
}

.f-head{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 24px;
}
.f-ph{
    font-size: 0.9rem;
    margin-bottom: 80px;
}

.facts-container{
    width: 70%;
    margin: 0 4.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5vw;
    padding-bottom: 20px;
}

.inside-card{
    border: 2px solid sandybrown;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 15vw;
}
.inside-card h6{
    font-size: 20px;
    font-weight: 700;
    color: #727272;
}

/* sponspors section */

.sponspors{
    text-align: center;
    margin-top: 160px;
}
.sponspors-box{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 8vw;
    filter: grayscale(100%);

}
.sponspors p{
    font-size: 0.9rem;
    margin: 30px 0;

}


/* Footer */
.foot{
    background-color: rgba(255, 144, 14, 0.1);
    margin: 18vh auto 20vh;
    width: 85vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}
.foot p{
    font-size: 20px;
}

/* responsive for mobile device */
@media screen and (max-width: 576px) {
  .navbar {
    justify-content: space-between;
    padding: 0;
    padding: 10px 10px;
  }
  .logo {
    font-size: 10px;
    font-weight: bold;
  }
  .nav-links {
  gap: 15px;
  align-items: center;
}
.teams {
    flex-direction: column-reverse;
  gap: 10px;
  margin: 50px 6vw;
}
.teams-pic {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}
.banner-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.banner-immg {
  width: 95%;
}
.facts-container{
    grid-template-columns: repeat(1,1fr);
    margin: 0 auto;
}
.f-ph{
    font-size: 0.9rem;
    margin-bottom: 80px;
}

.inside-card{
    height: 30vh;
    width: 90%;
}
.sponspors-box{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 28vw;
    filter: grayscale(100%);
    gap: 30px;

}
.sponspors p{
    font-size: 0.9rem;
    margin: 5px 0;

}
.foot{
    margin: 70px auto;
    width: auto;
    height: auto;
   
}

}
